* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: serif;
}

.main-logo {
    width: 190px;
    height: 100%;
}

.header-top {
    background: #023B6D;
}

.logo-and-main-menu-and-button {
    width: 1020px;
    background: #37517E;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.logo-and-main-menu-and-button-background {
    background: #37517E;
}

.logo h1 a {
    text-decoration: none;
    color: white;
}

.main-menu ul {
    list-style: none;
}

.main-menu ul li {
    float: left;
    padding: 10px;
}

.main-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.footer-background {
    background: #37517E;
    width: 100%;
    height: 80px;
    margin-top: 50px;
}

.footer-part {
    width: 1020px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.main-body-section {
    width: 1020px;
    height: 390px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-body-section-1 {
    width: 48%;
    height: 100%;
    /* background: yellow; */
    padding: 15px;
}

.logo {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-body-section-1 h1 {
    color: white;
    font-size: 48px;
    line-height: 50px;
    font-family: serif;
}

.main-body-section-1 p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #AFB9CB;
}

.two-buttons button {
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 35px;
    background: deepskyblue;
    color: white;
    border: none;
}

.main-body-part-1 {
    background: #37517E;
    padding: 35px;
}

.main-body-section-1 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.menu-button button {
    /* border-radius: 26px; */
    /* padding: 10px 15px; */
    /* border: 2px solid #47B2E4; */
    background: none;
    font-size: 15px;
    border: navajowhite;
}

.menu-button button a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 26px;
    display: inline-block;
    border: 2px solid red;
}

.menu-button button a:hover {
    background: red;
}

.main-body-part-2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #F3F5FA;
    margin-bottom: 60px;
}

.main-body-part-2-section {
    width: 1020px;
    height: 100%;
    margin: auto;
}

.logo-main-body-part-2-section {
    width: 16%;
    height: 100%;
    /* background: red; */

}

.main-body-part-2-section {
    width: 1020px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-main-body-part-2-section img {
    padding: 15px 40px;
    transition: all 0.5s;
}

.logo-main-body-part-2-section img {
    filter: grayscale(100);
}

.logo-main-body-part-2-section img:hover {
    filter: none;
    transform: scale(1.5);
}

.about-us {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;

}

.about-us-main-box {
    width: 1020px;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.about-us-part {
    width: 48%;
    height: auto;
}

.learn-button {
    margin-top: 15px;
}

.learn-button button {
    padding: 10px 15px;
    background: none;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}

.learn-button button:hover {
    background: dodgerblue;
    color: white;
}

.learn-button button {
    transition: all 0.5s;
    border-radius: 10px;
}

.main-body-part-3 {
    margin-bottom: 80px;

}

.about-us h1 {
    text-transform: uppercase;
    color: cadetblue;
}

.main-menu ul li a:hover {
    color: red;
}

.about-us h1 {
    border-bottom: 1px solid red;
    width: fit-content;
    text-align: center;
    margin: auto;
}

.main-body-part-4 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #F3F5FA;
    padding: 100px 0;
}

.main-body-part-4-box {
    width: 1020px;
    height: auto;
    overflow: hidden;
    /* background: yellow; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.main-body-part-4-box-section {
    width: 50%;
}

.main-body-part-4-box-section {
    padding: 20px;
}

.main-body-part-4-box-section h1 {
    margin-bottom: 15px;
    color: #37517E;
    font-weight: normal;
}

.q-box-item {
    margin: 20px;
}

.q-box-item {
    background: white;
    padding: 10px;
}

.main-body-part-4-box-section {
    margin: auto;
}

.font-weight-bolt {
    font-weight: bold;
}

.q-box-item h2 {
    font-size: 20px;
}

.font-weight-bold {
    font-weight: bold;
}

.main-body-part-5 {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
}
.main-body-part-5-box {
    width: 1020px;
    height: auto;
    margin: auto;
}

.heading {
    text-align: center;
    padding-bottom: 25px;
}

.small-logo-describe {
    width: 23%;
    height: auto;
    overflow: hidden;
    background:#F3F5FA;
    padding: 25px 15px;
    justify-items: center;
}

.part-5-box-section-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.details p {
    text-align: center;
    font-size: 16px;
}
.small-logo-describe h2 {
    margin-bottom: 15px;
}

.heading h1 {
    border-bottom: 2px solid red;
    width: fit-content;
    margin: auto;
}

.main-body-part-6 {
    width: 100%;
    height: auto;
    background: #293E60;
    overflow: hidden;
}
.call-to-action-title {
    width: 1020px;
    height: 200px;
    /* background: red; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.call-to-action-title {
    padding: 50px 5px 50px 5px;
    justify-content: space-between;
}
.call-to-action-button {
    
    /* background: green; */
    margin-left: 2%;
}
.call-to-action-info {
    width: 76%;
    height: 200px;
    /* background: yellow; */
    overflow: hidden;
    
}

.call-to-action-button button {
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid white;
    font-family: sans-serif;
    background: none;
    color: white;
}
.call-to-action-info h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.call-to-action-info {
    color: white;
}
.portfolio-box {
    width: 1020px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.portfolio-item {
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-item h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
    border-bottom: 2px solid red;
}
.portfolio-item-2 ul li a {
    text-decoration: none;
    padding: 8px 10px;
}


.portfolio-item-2 ul li {
    display: inline-block;
    /* padding: 8px 10px; */
    font-size: 20px;
    border-radius: 50px;
}

.portfolio-item-2 ul {
    display: flex;
    justify-content: center;
}
.portfolio-item-2 ul li a:hover {
    background: aqua;
    border-radius: 50px;
    transition: all 0.3s;
}
.main-body-part-6 {
    margin-bottom: 50px;
}
.portfolio-item-3 {
    width: 1020px;
    height: auto;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    margin-left: -3%;
}
.portfolio-item-3-part {
    width: 30.33%;
    height: auto;
    /* border: 2px solid green; */
    margin-left: 3%;
}
.portfolio-item-2 {
    margin-bottom: 20px;
}
.portfolio-item-3-part {
    position: relative;
}
.portfolio-caption {
    position: absolute;
    bottom: 0;
    background: rgba(55, 81, 126, 0.8);
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}

.portfolio-item-3-part:hover .portfolio-caption {
    opacity: 1;
}
.portfolio-caption-matter {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.portfolio-caption-matter-item h2 {
    font-size: 20px;
    color: white;
    padding: 10px;
}
.portfolio-caption-matter-item .icon-item {
    font-size: 20px;
    color: white;
    padding: 10px;
}

.portfolio-caption-matter-item {
    display: flex;
}
.portfolio-caption-matter-item h2 span {
    display: block;
    font-size: 15px;
}
.portfolio-item-3-part {
    margin-bottom: 2%;
}

.division {
    background: green;
    width: 1020px;
    height: 500px;
    margin: auto;
    position: relative;
}
.division-item {
    width: 200px;
}

.division-item:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid red;
}

.division-item:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid gray;
}
.division-item:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid yellow;
}
.division-item:last-child {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid red;
}
